html {
    position: relative;
    font-family: 'raleway', Arial, "Helvetica";
    color: black;
    margin: 0px;
    min-height: 100%;
}

body {
    position: relative;
    background-color: white;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 6em;
    padding-bottom: 15em;
}


.wrapper {
    padding: 0;
    margin: 0;
}

.navbar-default {
    background-color: white;
}


#content {
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15em;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 3em;
}

.footer a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

h1 {
    color: black;
    font-family: 'raleway';
    text-transform: uppercase;
}

p {
    line-height: 160%;
}

#logo {
    font-family: 'raleway';
    font-size: 3.2em;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 1em;
}

#logo2 {
    position: relative;
    font-family: 'raleway';
    font-size: 0.8em;
    color: black;
    top: -0.9em;
    padding-bottom: 0.3em;
}


.navbar-nav > li {
    padding-top: 2.4em;
    padding-left: 0.5em;
    font-family: 'raleway';
}

.navbar .nav > li > a:link, a:visited {
    color: black;
}

.navbar .nav > li > a:hover, a:active {
    background-color: gainsboro;
}

.navbar-right {
    padding-top: 1.5em; 
}

#nav {
    width: auto;
    height: auto;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#NavList {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 0.1em;
    text-transform: uppercase;
    width: auto;
    height: auto;
    text-align: inherit;
    padding-top: 1em;
    padding-right: 5em;
    padding-bottom: 1em;
    padding-left: 7.5em;
}

/*#nav ul {
   /* position: relative; 
    list-style-type: none;
    background-color: red;
    text-align: inherit; 
    margin:initial;
    padding:initial; 
    width: +20%; 
    margin-left:auto;
    margin-right:auto;
    word-spacing: 300px;
} */

#newNav {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div#nav li {
    width: 15%;
    display: inline;
    float: left;
    font-family: 'raleway';
    font-size: 1em;
    background-color: white;
    color: black;
    text-align: inherit;
    text-transform: uppercase;
}

#nav a:link, a:visited {
    color: black;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

#nav li a:hover, a:active {
    background-color: gainsboro;
    color: white;
}

@font-face {
    font-family: 'raleway';
    src: url('Raleway-Light.ttf') format('truetype');
}

#textpart1 { /*Om oss - index.aspx*/
    background-color: gainsboro;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 4em;
}

 #textpart1 p {
        width: 50%;
    }

#textpart2 { /*Nyheter - index.aspx*/
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

#textpart3 { /*Kontaktformulär - index.aspx*/
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

.image {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    overflow: hidden;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*CHATTSIDAN*/
#chatContainer { /*container for chat*/
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    text-align: center;
    border-top: 1px dotted;
}

.caller { /*Chattmeddelande-style för den som skickar meddelandet*/
    background-color: lightcoral;
    border-radius: 1em;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

.others { /*chattmeddelande-style för alla utom den som skickar*/
    background-color: lightblue;
    border-radius: 1em;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

#namesOfActiveUsers { /*Chatten - högra sidan, visar vilka användare som är online just nu*/
    float: right;
    padding: 0.5em;
    border-left: 1px dotted black;
    width: auto;
}

#numberOfUsers { /*Visar hur många användare som är online*/
    display: none;
}

#chat { /*Chatten - vänstra sidan*/
    float: left;
    text-align: left;
    padding: 0.5em;
    max-width: 60%;
}

#endChat { /*Slut på chatten, clearar floats och sätter lite marginal ner till footern.*/
    clear: both;
    margin-bottom: 10em;
}


@media (max-width: 768px ) { /*Inställningar för små enheter, tex mobil*/
    #container {
        width: 100%;
    }

    #chatContainer {
        width: 90%;
        border: none;
    }

    #namesOfActiveUsers {
        display: none;
    }

    #numberOfUsers {
        display: block;
    }
}
